.Chat-main
  .Chat-main__header
    .Chat-main__header__group
      %p.Chat-main__header__group__name
        = @group.name
      .Chat-main__header__group__member
        %p.Chat-main__header__group__member__headline Member：
        %ul.Chat-main__header__group__member__list 
          - @group.users.each do |user|
            %li.Chat-main__header__group__member__list__name
              = user.name
    .Chat-main__header__edit
      = link_to edit_group_path(@group), class: "Chat-main__header__edit__btn" do
        Edit
  .Chat-main__messages
    = render @messages
  .Chat-main__footer
    = form_with model: [@group, @message], html: {class: "Chat-main__footer__form"}, local: true do |f|
      .Chat-main__footer__form__content
        = f.text_field :content, class: 'Chat-main__footer__form__content__message', placeholder: 'type a message'
        = f.label :image, class: 'Chat-main__footer__form__content__image' do
          =icon('far', 'image')
          = f.file_field :image, class: 'Chat-main__footer__form__content__image__file'
      = f.submit 'Send', class: 'Chat-main__footer__form__send-btn'