.Side-bar
  .Side-bar__header
    .Side-bar__header__item
      %p.Side-bar__header__item__name
        = current_user.name
      .Side-bar__header__item__icons
        = link_to new_group_path do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .Side-bar__groups
    - current_user.groups.each do |group|
      .Side-bar__groups__group
        = link_to group_messages_path(group), class: 'Side-bar__groups__group__link' do
          .Side-bar__groups__group__link__name
            = group.name
          .Side-bar__groups__group__link__message
            = group.show_last_message